# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.npm/
package-lock.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*

# OS-specific and editor files
.DS_Store
.vscode/
.idea/
.env

# Build outputs
dist/
build/
.next/
out/
